In [1]:
import os
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [2]:
ROOT = os.path.join(os.getcwd(), 'Statsbomb_data\open-data-master')
DATA = os.path.join(ROOT, 'data')
FINAL_DF = os.path.join(ROOT,'final_dataframes')

In [3]:
events_df = pd.read_pickle(
    filepath_or_buffer=os.path.join(FINAL_DF,'events.pkl')
)

In [4]:
events_df.columns

Index(['id', 'index', 'period', 'timestamp', 'minute', 'second', 'type',
       'possession', 'possession_team', 'play_pattern', 'team', 'player',
       'position', 'location', 'duration', 'related_events', 'shot',
       'match_id', 'under_pressure', 'out', 'off_camera'],
      dtype='object')

In [5]:
events_df.shot.str['freeze_frame'].iloc[0]

[{'location': [95.6, 35.8],
  'player': {'id': 5216, 'name': 'Andrés Iniesta Luján'},
  'position': {'id': 16, 'name': 'Left Midfield'},
  'teammate': False},
 {'location': [104.3, 45.4],
  'player': {'id': 5211, 'name': 'Jordi Alba Ramos'},
  'position': {'id': 6, 'name': 'Left Back'},
  'teammate': False},
 {'location': [98.5, 27.9],
  'player': {'id': 5542, 'name': 'José Paulo Bezzera Maciel Júnior'},
  'position': {'id': 11, 'name': 'Left Defensive Midfield'},
  'teammate': False},
 {'location': [106.2, 41.7],
  'player': {'id': 5492, 'name': 'Samuel Yves Umtiti'},
  'position': {'id': 5, 'name': 'Left Center Back'},
  'teammate': False},
 {'location': [98.7, 18.8],
  'player': {'id': 5203, 'name': 'Sergio Busquets i Burgos'},
  'position': {'id': 9, 'name': 'Right Defensive Midfield'},
  'teammate': False},
 {'location': [103.0, 23.1],
  'player': {'id': 5213, 'name': 'Gerard Piqué Bernabéu'},
  'position': {'id': 3, 'name': 'Right Center Back'},
  'teammate': False},
 {'location': [104.0, 15.9],
  'player': {'id': 6379, 'name': 'Sergi Roberto Carnicer'},
  'position': {'id': 2, 'name': 'Right Back'},
  'teammate': False},
 {'location': [106.0, 14.9],
  'player': {'id': 3501, 'name': 'Philippe Coutinho Correia'},
  'position': {'id': 12, 'name': 'Right Midfield'},
  'teammate': False},
 {'location': [117.4, 37.4],
  'player': {'id': 20055, 'name': 'Marc-André ter Stegen'},
  'position': {'id': 1, 'name': 'Goalkeeper'},
  'teammate': False},
 {'location': [95.8, 9.5],
  'player': {'id': 6594, 'name': 'Santiago Mina Lorenzo'},
  'position': {'id': 24, 'name': 'Left Center Forward'},
  'teammate': True},
 {'location': [105.4, 9.5],
  'player': {'id': 6596, 'name': 'José Luis Gayà Peña'},
  'position': {'id': 6, 'name': 'Left Back'},
  'teammate': True},
 {'location': [88.1, 31.6],
  'player': {'id': 6589, 'name': 'Geoffrey Kondogbia'},
  'position': {'id': 11, 'name': 'Left Defensive Midfield'},
  'teammate': True},
 {'location': [89.2, 17.1],
  'player': {'id': 6595, 'name': 'Daniel Parejo Muñoz'},
  'position': {'id': 9, 'name': 'Right Defensive Midfield'},
  'teammate': True},
 {'location': [103.2, 40.7],
  'player': {'id': 5718, 'name': 'Rodrigo Moreno Machado'},
  'position': {'id': 22, 'name': 'Right Center Forward'},
  'teammate': True}]

# Feature Engineering: Strong Foot

In [87]:
player_df = events_df[['id','player','shot']]

In [88]:
# copy(deep=True) is used to suppress copyWithSetting Warning...
events_df['player_id'] = events_df['player'].str['id']

In [89]:
events_df['player_name'] = events_df['player'].str['name']

In [90]:
events_df['outcome'] = events_df['shot'].str['outcome'].str['name']

In [91]:
events_df['body_part'] = events_df['shot'].str['body_part'].str['name']

In [92]:
player_df['shot'].iloc[0]

{'statsbomb_xg': 0.008752456,
 'end_location': [117.0, 39.7, 1.6],
 'key_pass_id': '430b01dd-eb13-4bf5-8df1-ecd0b76155a0',
 'body_part': {'id': 40, 'name': 'Right Foot'},
 'type': {'id': 87, 'name': 'Open Play'},
 'outcome': {'id': 100, 'name': 'Saved'},
 'technique': {'id': 93, 'name': 'Normal'},
 'freeze_frame': [{'location': [95.6, 35.8],
   'player': {'id': 5216, 'name': 'Andrés Iniesta Luján'},
   'position': {'id': 16, 'name': 'Left Midfield'},
   'teammate': False},
  {'location': [104.3, 45.4],
   'player': {'id': 5211, 'name': 'Jordi Alba Ramos'},
   'position': {'id': 6, 'name': 'Left Back'},
   'teammate': False},
  {'location': [98.5, 27.9],
   'player': {'id': 5542, 'name': 'José Paulo Bezzera Maciel Júnior'},
   'position': {'id': 11, 'name': 'Left Defensive Midfield'},
   'teammate': False},
  {'location': [106.2, 41.7],
   'player': {'id': 5492, 'name': 'Samuel Yves Umtiti'},
   'position': {'id': 5, 'name': 'Left Center Back'},
   'teammate': False},
  {'location': [98.7, 18.8],
   'player': {'id': 5203, 'name': 'Sergio Busquets i Burgos'},
   'position': {'id': 9, 'name': 'Right Defensive Midfield'},
   'teammate': False},
  {'location': [103.0, 23.1],
   'player': {'id': 5213, 'name': 'Gerard Piqué Bernabéu'},
   'position': {'id': 3, 'name': 'Right Center Back'},
   'teammate': False},
  {'location': [104.0, 15.9],
   'player': {'id': 6379, 'name': 'Sergi Roberto Carnicer'},
   'position': {'id': 2, 'name': 'Right Back'},
   'teammate': False},
  {'location': [106.0, 14.9],
   'player': {'id': 3501, 'name': 'Philippe Coutinho Correia'},
   'position': {'id': 12, 'name': 'Right Midfield'},
   'teammate': False},
  {'location': [117.4, 37.4],
   'player': {'id': 20055, 'name': 'Marc-André ter Stegen'},
   'position': {'id': 1, 'name': 'Goalkeeper'},
   'teammate': False},
  {'location': [95.8, 9.5],
   'player': {'id': 6594, 'name': 'Santiago Mina Lorenzo'},
   'position': {'id': 24, 'name': 'Left Center Forward'},
   'teammate': True},
  {'location': [105.4, 9.5],
   'player': {'id': 6596, 'name': 'José Luis Gayà Peña'},
   'position': {'id': 6, 'name': 'Left Back'},
   'teammate': True},
  {'location': [88.1, 31.6],
   'player': {'id': 6589, 'name': 'Geoffrey Kondogbia'},
   'position': {'id': 11, 'name': 'Left Defensive Midfield'},
   'teammate': True},
  {'location': [89.2, 17.1],
   'player': {'id': 6595, 'name': 'Daniel Parejo Muñoz'},
   'position': {'id': 9, 'name': 'Right Defensive Midfield'},
   'teammate': True},
  {'location': [103.2, 40.7],
   'player': {'id': 5718, 'name': 'Rodrigo Moreno Machado'},
   'position': {'id': 22, 'name': 'Right Center Forward'},
   'teammate': True}]}

In [93]:
player_df['outcome'] = events_df['shot'].str['outcome'].str['name']

In [94]:
only_goal_df = events_df.loc[player_df['outcome']=='Goal']

In [95]:
player_df

,id,player,shot,outcome
0,2258c11c-0916-4976-bfde-a66e89ffeb8d,"{'id': 4367, 'name': 'Gonçalo Manuel Ganchinho...","{'statsbomb_xg': 0.008752456, 'end_location': ...",Saved
1,f0be7ddf-1e01-4315-aee1-8d5fda52a739,"{'id': 6594, 'name': 'Santiago Mina Lorenzo'}","{'statsbomb_xg': 0.05391455, 'end_location': [...",Blocked
2,bb173d27-76c4-4044-b883-8bd6f8450cf2,"{'id': 5211, 'name': 'Jordi Alba Ramos'}","{'statsbomb_xg': 0.08084221, 'end_location': [...",Saved
3,7b02c827-3580-4149-9912-216ce2bd544f,"{'id': 5246, 'name': 'Luis Alberto Suárez Díaz'}","{'statsbomb_xg': 0.45647225, 'end_location': [...",Goal
4,3b15d864-8738-4cb1-8275-f94277570223,"{'id': 4367, 'name': 'Gonçalo Manuel Ganchinho...","{'statsbomb_xg': 0.025283428, 'end_location': ...",Saved
...,...,...,...,...
21772,62130924-f82f-4772-a4ef-a11fecaa51c2,"{'id': 39723, 'name': 'Sjaak Swart'}","{'statsbomb_xg': 0.03480147, 'end_location': [...",Saved
21773,478faba8-6898-4d23-a74c-fa23672e5b50,"{'id': 39724, 'name': 'Gerrie Mühren'}","{'statsbomb_xg': 0.060509045, 'end_location': ...",Saved
21774,222ec97a-066c-4b4f-9bcf-afb4f842edf2,"{'id': 39717, 'name': 'Roberto Boninsegna'}","{'statsbomb_xg': 0.036656085, 'end_location': ...",Blocked
21775,70094b8a-f6a2-4b9a-8576-36fef59fe44a,"{'id': 39725, 'name': 'Gianfranco Bedin'}","{'statsbomb_xg': 0.113855265, 'end_location': ...",Off T
21776,bd2a8d13-4c86-47b3-a8b0-98773a91fee2,"{'id': 39713, 'name': 'Johan Cruyff'}","{'statsbomb_xg': 0.08472361, 'end_location': [...",Blocked

In [96]:
player_groups = only_goal_df.groupby(
    by='player_name'
)

In [97]:
strong_foot_mapping = player_groups.agg({'body_part':pd.Series.mode})

In [107]:
strong_foot_mapping.body_part.str

player_name
Abel Gómez Moreno                           Right Foot
Abraham González Casanova                   Right Foot
Adalberto Peñaranda Maestre                 Right Foot
Adnane Tighadouini                          Right Foot
Adriano Correia Claro          [Left Foot, Right Foot]
                                        ...
Óscar Mingueza García               [Head, Right Foot]
Óscar Rodríguez Arnaiz                      Right Foot
Óscar Serrano Rodriguez                      Left Foot
Óscar de Marcos Arana                       Right Foot
İlkay Gündoğan                              Right Foot
Name: body_part, Length: 524, dtype: object

In [112]:
strong_foot_mapping.body_part.str[0].str.len()

player_name
Abel Gómez Moreno              1
Abraham González Casanova      1
Adalberto Peñaranda Maestre    1
Adnane Tighadouini             1
Adriano Correia Claro          9
                              ..
Óscar Mingueza García          4
Óscar Rodríguez Arnaiz         1
Óscar Serrano Rodriguez        1
Óscar de Marcos Arana          1
İlkay Gündoğan                 1
Name: body_part, Length: 524, dtype: int64

In [113]:
# We need to remove players who have shown same ability for any of the two body parts...
filtered_players = strong_foot_mapping.loc[strong_foot_mapping.body_part.str[0].str.len()==1]

In [114]:
filtered_players.shape

(460, 1)

In [115]:
strong_foot_df=events_df.join(
    other=filtered_players,
    on='player_name',
    how='left',
    rsuffix='_strong'
)

In [116]:
strong_foot_df.shape

(21777, 27)

In [117]:
strong_foot_df.body_part_strong.isnull().sum()

4880

In [118]:
strong_foot_df.body_part_strong.unique()

array([nan, 'Right Foot', 'Left Foot', 'Head', 'Other'], dtype=object)

# Feature Engineering: Within Penalty Area (WPA)

In [119]:
strong_foot_df.loc[
    (strong_foot_df['location'].str[0]>=114)&(strong_foot_df['location'].str[0]<=120) &
    (strong_foot_df['location'].str[1]>=30)&(strong_foot_df['location'].str[1]<=50)
]

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,match_id,under_pressure,out,off_camera,player_id,player_name,outcome,body_part,wpa,body_part_strong
28,304daa7c-374f-484f-b8f5-1cb2f3d77318,3901,2,00:47:03.448,92,3,"{'id': 16, 'name': 'Shot'}",190,"{'id': 207, 'name': 'Valencia'}","{'id': 1, 'name': 'Regular Play'}",...,9880,True,NaN,NaN,6584,Simone Zaza,Off T,Head,True,NaN
40,06e8e306-ee41-431e-a3a9-5b2fd2792c27,1571,1,00:33:53.025,33,53,"{'id': 16, 'name': 'Shot'}",64,"{'id': 219, 'name': 'RC Deportivo La Coruña'}","{'id': 2, 'name': 'From Corner'}",...,9912,NaN,NaN,NaN,5537,Fabian Lukas Schär,Off T,Head,True,NaN
54,6cdccd32-3f38-4e16-82d7-33885cac214b,3117,2,00:25:11.175,70,11,"{'id': 16, 'name': 'Shot'}",152,"{'id': 219, 'name': 'RC Deportivo La Coruña'}","{'id': 2, 'name': 'From Corner'}",...,9912,True,NaN,NaN,6732,Lucas Pérez Martínez,Blocked,Head,True,Left Foot
55,dd82ad5d-3c10-4d16-8f6b-4d7c70cf7c31,3237,2,00:27:41.713,72,41,"{'id': 16, 'name': 'Shot'}",155,"{'id': 217, 'name': 'Barcelona'}","{'id': 6, 'name': 'From Counter'}",...,9912,NaN,NaN,NaN,5246,Luis Alberto Suárez Díaz,Off T,Left Foot,True,Right Foot
60,8a227f2d-2140-4fab-a687-a6ac8d120626,3589,2,00:36:13.427,81,13,"{'id': 16, 'name': 'Shot'}",175,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}",...,9912,NaN,NaN,NaN,5503,Lionel Andrés Messi Cuccittini,Goal,Right Foot,True,Left Foot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21674,4969dea5-a145-44f6-ae0d-74df36be7458,2927,2,00:43:11.227,88,11,"{'id': 16, 'name': 'Shot'}",208,"{'id': 24, 'name': 'Liverpool'}","{'id': 2, 'name': 'From Corner'}",...,3750200,NaN,NaN,NaN,20195,Dirk Kuijt,Goal,Head,True,Head
21718,bdc9b5af-6b7f-4d09-9005-9c4d34c5bef0,1850,2,00:02:59.957,47,59,"{'id': 16, 'name': 'Shot'}",95,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}",...,3750201,NaN,NaN,NaN,15516,Thierry Henry,Saved,Right Foot,True,Right Foot
21723,3ecbc280-9317-49be-b091-e946a5c7e3da,2666,2,00:26:42.609,71,42,"{'id': 16, 'name': 'Shot'}",147,"{'id': 39, 'name': 'Manchester United'}","{'id': 9, 'name': 'From Kick Off'}",...,3750201,NaN,NaN,NaN,5207,Cristiano Ronaldo dos Santos Aveiro,Saved,Right Foot,True,Right Foot
21724,966e642a-6bf6-4cde-8a6a-63807d1a8b5e,2671,2,00:27:06.826,72,6,"{'id': 16, 'name': 'Shot'}",148,"{'id': 39, 'name': 'Manchester United'}","{'id': 2, 'name': 'From Corner'}",...,3750201,NaN,NaN,NaN,19892,Dimitar Ivanov Berbatov,Off T,Right Foot,True,NaN
21768,e9955250-4d52-4f44-9ab3-3070226f8e61,2601,2,00:31:11.512,76,11,"{'id': 16, 'name': 'Shot'}",203,"{'id': 806, 'name': 'Ajax'}","{'id': 3, 'name': 'From Free Kick'}",...,3750235,True,NaN,NaN,39713,Johan Cruyff,Goal,Head,True,NaN

In [120]:
wpa = np.where(
    (strong_foot_df['location'].str[0]>=114)&(strong_foot_df['location'].str[0]<=120) &
    (strong_foot_df['location'].str[1]>=30)&(strong_foot_df['location'].str[1]<=50),
    True,False
)

In [121]:
wpa_df = strong_foot_df

In [122]:
wpa_df['wpa'] = wpa

In [123]:
wpa_df

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,match_id,under_pressure,out,off_camera,player_id,player_name,outcome,body_part,wpa,body_part_strong
0,2258c11c-0916-4976-bfde-a66e89ffeb8d,191,1,00:03:31.114,3,31,"{'id': 16, 'name': 'Shot'}",10,"{'id': 207, 'name': 'Valencia'}","{'id': 4, 'name': 'From Throw In'}",...,9880,NaN,NaN,NaN,4367,Gonçalo Manuel Ganchinho Guedes,Saved,Right Foot,False,NaN
1,f0be7ddf-1e01-4315-aee1-8d5fda52a739,383,1,00:07:02.539,7,2,"{'id': 16, 'name': 'Shot'}",14,"{'id': 207, 'name': 'Valencia'}","{'id': 3, 'name': 'From Free Kick'}",...,9880,NaN,NaN,NaN,6594,Santiago Mina Lorenzo,Blocked,Right Foot,False,Right Foot
2,bb173d27-76c4-4044-b883-8bd6f8450cf2,654,1,00:13:21.294,13,21,"{'id': 16, 'name': 'Shot'}",25,"{'id': 217, 'name': 'Barcelona'}","{'id': 4, 'name': 'From Throw In'}",...,9880,NaN,NaN,NaN,5211,Jordi Alba Ramos,Saved,Left Foot,False,Left Foot
3,7b02c827-3580-4149-9912-216ce2bd544f,700,1,00:14:07.045,14,7,"{'id': 16, 'name': 'Shot'}",26,"{'id': 217, 'name': 'Barcelona'}","{'id': 4, 'name': 'From Throw In'}",...,9880,NaN,NaN,NaN,5246,Luis Alberto Suárez Díaz,Goal,Right Foot,False,Right Foot
4,3b15d864-8738-4cb1-8275-f94277570223,837,1,00:17:27.953,17,27,"{'id': 16, 'name': 'Shot'}",31,"{'id': 207, 'name': 'Valencia'}","{'id': 1, 'name': 'Regular Play'}",...,9880,NaN,NaN,NaN,4367,Gonçalo Manuel Ganchinho Guedes,Saved,Right Foot,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21772,62130924-f82f-4772-a4ef-a11fecaa51c2,2758,2,00:38:23.735,83,23,"{'id': 16, 'name': 'Shot'}",214,"{'id': 806, 'name': 'Ajax'}","{'id': 3, 'name': 'From Free Kick'}",...,3750235,NaN,NaN,NaN,39723,Sjaak Swart,Saved,Head,False,NaN
21773,478faba8-6898-4d23-a74c-fa23672e5b50,2894,2,00:41:35.267,86,35,"{'id': 16, 'name': 'Shot'}",224,"{'id': 806, 'name': 'Ajax'}","{'id': 1, 'name': 'Regular Play'}",...,3750235,NaN,NaN,NaN,39724,Gerrie Mühren,Saved,Left Foot,False,NaN
21774,222ec97a-066c-4b4f-9bcf-afb4f842edf2,2935,2,00:42:58.282,87,58,"{'id': 16, 'name': 'Shot'}",227,"{'id': 238, 'name': 'Inter Milan'}","{'id': 1, 'name': 'Regular Play'}",...,3750235,True,NaN,NaN,39717,Roberto Boninsegna,Blocked,Left Foot,False,NaN
21775,70094b8a-f6a2-4b9a-8576-36fef59fe44a,2940,2,00:43:49.185,88,49,"{'id': 16, 'name': 'Shot'}",228,"{'id': 238, 'name': 'Inter Milan'}","{'id': 3, 'name': 'From Free Kick'}",...,3750235,NaN,NaN,NaN,39725,Gianfranco Bedin,Off T,Left Foot,False,NaN
21776,bd2a8d13-4c86-47b3-a8b0-98773a91fee2,2991,2,00:45:22.414,90,22,"{'id': 16, 'name': 'Shot'}",232,"{'id': 806, 'name': 'Ajax'}","{'id': 1, 'name': 'Regular Play'}",...,3750235,NaN,NaN,NaN,39713,Johan Cruyff,Blocked,Right Foot,False,NaN

# Feature Engineering: Distance from Goal (DFG)

In [124]:
shot_location = wpa_df['location'].to_numpy()

In [125]:
shot_location = np.vstack(shot_location)

In [126]:
shot_location[:,0] # x

array([101. , 103.9, 112.5, ...,  96.1,  96.8, 106.7])

In [127]:
np.sqrt(np.square(shot_location[:,0]-120)+np.square(shot_location[:,1]-40))

array([26.65876966, 19.84363878, 15.88238017, ..., 24.16960902,
       23.24844081, 14.31712262])

In [128]:
distance_from_goal = np.sqrt(np.square(shot_location[:,0]-120)+np.square(shot_location[:,1]-40))

In [129]:
# normalize the distances between 0 and 1
normalized_dfg = (distance_from_goal-np.min(distance_from_goal))/(np.max(distance_from_goal)-np.min(distance_from_goal))

In [130]:
dfg_df = wpa_df
dfg_df['dfg'] = normalized_dfg

In [131]:
dfg_df.head(1)

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,under_pressure,out,off_camera,player_id,player_name,outcome,body_part,wpa,body_part_strong,dfg
0,2258c11c-0916-4976-bfde-a66e89ffeb8d,191,1,00:03:31.114,3,31,"{'id': 16, 'name': 'Shot'}",10,"{'id': 207, 'name': 'Valencia'}","{'id': 4, 'name': 'From Throw In'}",...,NaN,NaN,NaN,4367,Gonçalo Manuel Ganchinho Guedes,Saved,Right Foot,False,NaN,0.324008

# Feature Engineering: Shot Angle

In [132]:
shot_location

array([[101. ,  21.3],
       [103.9,  28.4],
       [112.5,  26. ],
       ...,
       [ 96.1,  36.4],
       [ 96.8,  38.5],
       [106.7,  45.3]])

In [133]:
first_post = [120, 36]
second_post = [120, 44]

In [134]:
# Taken from: https://stackoverflow.com/questions/58953047/issue-with-finding-angle-between-3-points-in-python
v21_0 = first_post[0]-shot_location[:,0]
v21_1 = first_post[1]-shot_location[:,1]
v23_0 = second_post[0]-shot_location[:,0]
v23_1 = second_post[1]-shot_location[:,1]

In [135]:
dot = (v21_0*v23_0) + (v21_1*v23_1)
det = (v21_0*v23_1) - (v21_1*v23_0)

In [136]:
angle = np.rad2deg(np.arctan2(det, dot))

In [137]:
unique_values, counts=np.unique(angle.astype('int'), return_counts=True)

In [138]:
for value, count in zip(unique_values, counts):
    print(f"{value} occurs {count} times")

0 occurs 4 times
1 occurs 5 times
2 occurs 9 times
3 occurs 17 times
4 occurs 17 times
5 occurs 53 times
6 occurs 83 times
7 occurs 116 times
8 occurs 148 times
9 occurs 214 times
10 occurs 380 times
11 occurs 780 times
12 occurs 1041 times
13 occurs 1235 times
14 occurs 1342 times
15 occurs 1253 times
16 occurs 1283 times
17 occurs 1185 times
18 occurs 1082 times
19 occurs 921 times
20 occurs 749 times
21 occurs 652 times
22 occurs 633 times
23 occurs 522 times
24 occurs 469 times
25 occurs 485 times
26 occurs 430 times
27 occurs 372 times
28 occurs 318 times
29 occurs 332 times
30 occurs 322 times
31 occurs 296 times
32 occurs 250 times
33 occurs 236 times
34 occurs 294 times
35 occurs 245 times
36 occurs 375 times
37 occurs 324 times
38 occurs 171 times
39 occurs 218 times
40 occurs 176 times
41 occurs 175 times
42 occurs 154 times
43 occurs 139 times
44 occurs 116 times
45 occurs 116 times
46 occurs 132 times
47 occurs 112 times
48 occurs 111 times
49 occurs 104 times
50 occurs 94 times
51 occurs 78 times
52 occurs 101 times
53 occurs 96 times
54 occurs 79 times
55 occurs 63 times
56 occurs 79 times
57 occurs 80 times
58 occurs 73 times
59 occurs 57 times
60 occurs 60 times
61 occurs 53 times
62 occurs 41 times
63 occurs 45 times
64 occurs 34 times
65 occurs 40 times
66 occurs 26 times
67 occurs 45 times
68 occurs 20 times
69 occurs 31 times
70 occurs 28 times
71 occurs 26 times
72 occurs 15 times
73 occurs 19 times
74 occurs 24 times
75 occurs 12 times
76 occurs 16 times
77 occurs 17 times
78 occurs 9 times
79 occurs 14 times
80 occurs 18 times
81 occurs 7 times
82 occurs 5 times
83 occurs 8 times
84 occurs 8 times
85 occurs 7 times
86 occurs 3 times
87 occurs 5 times
88 occurs 10 times
89 occurs 6 times
90 occurs 5 times
91 occurs 3 times
92 occurs 8 times
93 occurs 7 times
94 occurs 8 times
95 occurs 5 times
96 occurs 2 times
97 occurs 4 times
98 occurs 5 times
99 occurs 3 times
100 occurs 8 times
101 occurs 3 times
102 occurs 3 times
103 occurs 2 times
104 occurs 2 times
106 occurs 2 times
107 occurs 2 times
108 occurs 4 times
109 occurs 3 times
111 occurs 2 times
112 occurs 1 times
115 occurs 1 times
116 occurs 2 times
117 occurs 1 times
118 occurs 1 times
119 occurs 1 times
120 occurs 1 times
121 occurs 3 times
122 occurs 4 times
123 occurs 1 times
125 occurs 1 times
127 occurs 3 times
128 occurs 2 times
129 occurs 3 times
131 occurs 2 times
133 occurs 2 times
134 occurs 1 times
138 occurs 2 times
139 occurs 1 times
141 occurs 1 times
143 occurs 1 times
148 occurs 2 times
150 occurs 2 times
154 occurs 1 times
157 occurs 1 times
160 occurs 1 times
162 occurs 1 times
167 occurs 1 times
168 occurs 1 times
180 occurs 3 times

In [139]:
normalized_angle = (angle-np.min(angle))/(np.max(angle)-np.min(angle))

In [140]:
angle_df = dfg_df
angle_df['angle'] = normalized_angle

In [141]:
angle_df.head(1)

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,out,off_camera,player_id,player_name,outcome,body_part,wpa,body_part_strong,dfg,angle
0,2258c11c-0916-4976-bfde-a66e89ffeb8d,191,1,00:03:31.114,3,31,"{'id': 16, 'name': 'Shot'}",10,"{'id': 207, 'name': 'Valencia'}","{'id': 4, 'name': 'From Throw In'}",...,NaN,NaN,4367,Gonçalo Manuel Ganchinho Guedes,Saved,Right Foot,False,NaN,0.324008,0.068101

# Feature Engineering: GK Distance from Center of the Goal (GK_Distance)

In [142]:
angle_df['freeze_frame'] = angle_df['shot'].str['freeze_frame']

In [143]:
freeze_frame_df = angle_df[['id','freeze_frame']].explode(
    column='freeze_frame'
)

In [144]:
freeze_frame_df['position_id'] = freeze_frame_df['freeze_frame'].str['position'].str['id']

In [145]:
freeze_frame_df['position_name'] = freeze_frame_df['freeze_frame'].str['position'].str['name']

In [146]:
freeze_frame_df['position_location'] = freeze_frame_df['freeze_frame'].str['location']

In [147]:
freeze_frame_df = freeze_frame_df.loc[freeze_frame_df['position_id']==1]

In [148]:
freeze_frame_df

,id,freeze_frame,position_id,position_name,position_location
0,2258c11c-0916-4976-bfde-a66e89ffeb8d,"{'location': [117.4, 37.4], 'player': {'id': 2...",1.0,Goalkeeper,"[117.4, 37.4]"
1,f0be7ddf-1e01-4315-aee1-8d5fda52a739,"{'location': [117.3, 37.4], 'player': {'id': 2...",1.0,Goalkeeper,"[117.3, 37.4]"
2,bb173d27-76c4-4044-b883-8bd6f8450cf2,"{'location': [117.1, 34.0], 'player': {'id': 6...",1.0,Goalkeeper,"[117.1, 34.0]"
3,7b02c827-3580-4149-9912-216ce2bd544f,"{'location': [117.6, 42.8], 'player': {'id': 6...",1.0,Goalkeeper,"[117.6, 42.8]"
4,3b15d864-8738-4cb1-8275-f94277570223,"{'location': [118.6, 38.5], 'player': {'id': 2...",1.0,Goalkeeper,"[118.6, 38.5]"
...,...,...,...,...,...
21772,62130924-f82f-4772-a4ef-a11fecaa51c2,"{'location': [119.0, 40.4], 'player': {'id': 3...",1.0,Goalkeeper,"[119.0, 40.4]"
21773,478faba8-6898-4d23-a74c-fa23672e5b50,"{'location': [118.4, 39.2], 'player': {'id': 3...",1.0,Goalkeeper,"[118.4, 39.2]"
21774,222ec97a-066c-4b4f-9bcf-afb4f842edf2,"{'location': [118.6, 39.3], 'player': {'id': 3...",1.0,Goalkeeper,"[118.6, 39.3]"
21775,70094b8a-f6a2-4b9a-8576-36fef59fe44a,"{'location': [118.5, 38.1], 'player': {'id': 3...",1.0,Goalkeeper,"[118.5, 38.1]"
21776,bd2a8d13-4c86-47b3-a8b0-98773a91fee2,"{'location': [118.5, 40.8], 'player': {'id': 3...",1.0,Goalkeeper,"[118.5, 40.8]"

In [149]:
gk_location = freeze_frame_df['position_location'].to_numpy()
gk_location = np.vstack(gk_location)
gk_location

array([[117.4,  37.4],
       [117.3,  37.4],
       [117.1,  34. ],
       ...,
       [118.6,  39.3],
       [118.5,  38.1],
       [118.5,  40.8]])

In [150]:
gk_distance_from_goal = np.sqrt(np.square(gk_location[:,0]-120)+np.square(gk_location[:,1]-40))

In [151]:
normalized_gk_distance_from_goal = (gk_distance_from_goal-np.min(gk_distance_from_goal))/(np.max(gk_distance_from_goal)-np.min(gk_distance_from_goal))

In [152]:
normalized_gk_distance_from_goal

array([0.03945195, 0.04021779, 0.07150238, ..., 0.01679435, 0.02597341,
       0.01824018])

In [153]:
freeze_frame_df['gk_distance'] = normalized_gk_distance_from_goal

In [154]:
freeze_frame_df.head()

,id,freeze_frame,position_id,position_name,position_location,gk_distance
0,2258c11c-0916-4976-bfde-a66e89ffeb8d,"{'location': [117.4, 37.4], 'player': {'id': 2...",1.0,Goalkeeper,"[117.4, 37.4]",0.039452
1,f0be7ddf-1e01-4315-aee1-8d5fda52a739,"{'location': [117.3, 37.4], 'player': {'id': 2...",1.0,Goalkeeper,"[117.3, 37.4]",0.040218
2,bb173d27-76c4-4044-b883-8bd6f8450cf2,"{'location': [117.1, 34.0], 'player': {'id': 6...",1.0,Goalkeeper,"[117.1, 34.0]",0.071502
3,7b02c827-3580-4149-9912-216ce2bd544f,"{'location': [117.6, 42.8], 'player': {'id': 6...",1.0,Goalkeeper,"[117.6, 42.8]",0.039568
4,3b15d864-8738-4cb1-8275-f94277570223,"{'location': [118.6, 38.5], 'player': {'id': 2...",1.0,Goalkeeper,"[118.6, 38.5]",0.022015

In [155]:
gk_distance_df = angle_df.set_index('id').join(
    other=freeze_frame_df[['id','gk_distance']].set_index('id'),
    on='id',
    how='left'
)

In [156]:
gk_distance_df.head(1)

,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,team,...,player_id,player_name,outcome,body_part,wpa,body_part_strong,dfg,angle,freeze_frame,gk_distance
id,,,,,,,,,,,,,,,,,,,,,
2258c11c-0916-4976-bfde-a66e89ffeb8d,191,1,00:03:31.114,3,31,"{'id': 16, 'name': 'Shot'}",10,"{'id': 207, 'name': 'Valencia'}","{'id': 4, 'name': 'From Throw In'}","{'id': 207, 'name': 'Valencia'}",...,4367,Gonçalo Manuel Ganchinho Guedes,Saved,Right Foot,False,NaN,0.324008,0.068101,"[{'location': [95.6, 35.8], 'player': {'id': 5...",0.039452

# Feature Engineering: Player positional sub-group

In [157]:
events_df.columns

Index(['id', 'index', 'period', 'timestamp', 'minute', 'second', 'type',
       'possession', 'possession_team', 'play_pattern', 'team', 'player',
       'position', 'location', 'duration', 'related_events', 'shot',
       'match_id', 'under_pressure', 'out', 'off_camera', 'player_id',
       'player_name', 'outcome', 'body_part', 'wpa'],
      dtype='object')

In [158]:
events_df['position'].iloc[0]

{'id': 16, 'name': 'Left Midfield'}

In [159]:
position = {
'Left Midfield': 'Midfield',
'Left Center Forward': 'Attack',
'Left Back': 'Defense',
'Right Back': 'Defense',
'Right Center Forward': 'Attack',
'Left Center Back': 'Defense',
'Right Center Back': 'Defense',
'Right Midfield': 'Midfield',
'Right Defensive Midfield': 'Midfield',
'Left Center Midfield': 'Midfield',
'Right Center Midfield': 'Midfield',
'Left Wing': 'Attack',
'Center Forward': 'Attack',
'Center Attacking Midfield': 'Midfield',
'Center Defensive Midfield': 'Midfield',
'Right Wing': 'Attack',
'Right Wing Back': 'Defense',
'Left Defensive Midfield': 'Midfield',
'Left Wing Back': 'Defense',
'Center Back': 'Defense',
'Secondary Striker': 'Attack',
'Right Attacking Midfield': 'Midfield',
'Left Attacking Midfield': 'Midfield',
'Center Midfield': 'Midfield',
'Goalkeeper': 'Goalkeeper'
}

In [160]:
gk_distance_df['specific_position'] = gk_distance_df['position'].str['name'].map(position)

# Saving final dataframe to pickle

In [161]:
pd.to_pickle(
    obj=gk_distance_df,
    filepath_or_buffer=os.path.join(FINAL_DF,'engineered_features.pkl')
)